/* ----------------paleta de Colores ----------------------------------------
Verde Ambiental Oscuro: #72a240 - rgba(114, 162, 64, 1)
Verde Ambiental Claro: #7baf45 - rgba(123, 175, 69, 1)


Gris Metalmecánica Oscuro: #58585b - rgba(88, 88, 91, 1)
Gris Metalmecánica Claro: #6d6e70 - rgba(109, 110, 112, 1)

Amarillo Industrial Oscuro: #f29c1f - rgba(242, 156, 31, 1)
Amarillo Industrial Claro: #ffb94b - rgba(255, 185, 75, 1)

Rojo Acerta Oscuro = #aa0024 - rgba(170, 0, 36, 1)
Rojo Acerta Claro = #ee2316 - rgba(238, 35, 22, 1)

------------------- fin paleta de Colores -----------------------------------*/

/* Estilos Generales */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-weight: 300;
}

header {
  display: block;
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 80px;

  clear: both;

  z-index: 2000;
}

p {
  font-size: 1em;
  text-align: justify;
  line-height: 1em;
  padding: 0.5em;
}

footer {
  display: block;
  position: fixed;

  bottom: 0;

  width: 100%;
  height: 40px;

  background-color: rgba(170, 0, 36, .8);
  color: #fff;

  font-weight: 300;
  text-align: center;
  line-height: 40px;

  z-index: 2000;
}

footer a{
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.internal-header {
  background-color: #fff;
  background-color: rgba(255,255,255,0.9);
}

.contenedor {
  width: 100%;
  height: 100%;
}

.contiene-slider {
  position: absolute;
  background-color: rgba(236, 240, 241,1.0);
  width: 100%;
  height: 100%;
}

.logo {
  display: block;
  margin-left: 5%;
  margin-top: 10px;
  width: 388px;
  float: left;
}

.general-nav {
  display: inline-block;
  height: 60px;
  float: right;
  margin-right: 5%;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(170, 0, 36, .6);
  border-radius: 10px;
}

.general-nav ul {
  list-style: none;
}

.general-nav ul li {
  float: left;
  line-height: 60px;
  padding: 0 5px;
}

.general-nav a {
  display: block;
  color: #fff;
  height: 60px;
  padding: 0 5px;
  line-height: 60px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
          transition: all 500ms ease;
}

.general-nav a:hover {
  /*color: #58585b;*/
  line-height: 60px;
  background-color: rgba(170, 0, 36, 1);
}

.internal-nav {
  background-color: rgba(170, 0, 36, 1);
}

.internal-nav a:hover{
  line-height: 40px;
  background-color: rgba(0, 0, 0, .2);
}

.internal-nav a.active {
  background-color: rgba(0, 0, 0, .2);
  height: 60px;
  line-height: 40px;
}


.contenido {
  position: absolute;
  display: block;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  left: 7%;
  top: 9%;
  width: 86%;
  height: 86%;
  margin: 0 auto;
  z-index: 1900;
}

.margen-abajo{
  margin-bottom: 50px;
  height: 100%;
}


.tit1 {
  font-size: 2em;
  color: #9d0021;
  margin: 1em 0;
}

.tit3 {
  display:block;
  font-size: 1.5em;
  color: #9d0021;
  text-align: center;
  float: none;
  clear: both;
  height: 60px;
  line-height: 60px;
}

.img-top {
  display: block;
  margin: 1em auto;
  width:100%;
  max-height: 500px;
  border-radius: 20px;
}

.col-left{
  float: left;
  width:47%;
}

.col-right{
  float: right;
  width:47%;
}

.menu-flotante {
  width: 375px;
  /*border: 1px solid #333;*/
  float: left;
  margin-left: 2%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

/** Menú metalmecánica */

.menu-metal {
  display: inline-block;
  margin-bottom: 30px;
  cursor: pointer;
}

.ico-metal {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border: 10px solid #fff;
  color: #fff;
  background-color: rgba(88, 88, 91, 1);
  text-align: center;
  font-size: 61px;
  line-height: 100px;
  border-radius: 50%;
  box-shadow:  4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  float: left;

}

.tit-menu-metal {
  display: block;
  float: left;
  line-height: 100px;
  padding-left: 69px;
  padding-right: 20px;
  margin-left: 60px;
  margin-top: -110px;
  background-color: rgba(88, 88, 91, .8);
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  border-right: 1px solid #888;
  border-left: 1px solid rgba(149, 165, 166,.6);;
  font-size: 1.2em;
  color: #fff;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.tit-menu-metal:hover {
  background-color: rgba(109, 110, 112, .8);
}

.sub-menu-metal {
  position: relative;
  display: none;
  float: right;
  width: 314px;
  margin-left: -60px;
  margin-top: -8px;
  padding-left: 39px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.sub-menu-metal ul li {
  list-style: none;
  background-color: rgba(88, 88, 91, .8);
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  border-left: 1px solid #888;
  padding: 5px;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.sub-menu-metal ul li:hover {
  padding-left: 35%;
  background-color: rgba(109, 110, 112, .8);
}

.sub-menu-metal a {
  color: #fff;
  text-decoration: none;
}

/** Menú ambiental */

.menu-ambiental {
  display: inline-block;
  margin-bottom: 30px;
  cursor: pointer;
}

.ico-ambiental {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border: 10px solid #fff;
  color: #fff;
  background-color: rgba(114, 162, 64, 1);
  text-align: center;
  font-size: 60px;
  line-height: 100px;
  border-radius: 50%;
  box-shadow:  4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  float: left;

}

.tit-menu-ambiental {
  display: block;
  float: left;
  line-height: 100px;
  padding-left: 100px;
  padding-right: 20px;
  margin-left: 61px;
  margin-top: -110px;
  background-color: rgba(114, 162, 64, .8);
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  border-right: 1px solid #888;
  font-size: 1.2em;
  color: #fff;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.tit-menu-ambiental:hover {
  background-color: rgba(123, 175, 69, .8);
}

.sub-menu-ambiental {
  position: relative;
  display: none;
  float: right;
  width: 314px;
  margin-left: -60px;
  margin-top: -8px;
  padding-left: 39px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.sub-menu-ambiental ul li {
  list-style: none;
  background-color: rgba(114, 162, 64, .8);
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  border-left: 1px solid #888;
  padding: 5px;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.sub-menu-ambiental ul li:hover {
  padding-left: 35%;
  background-color: rgba(123, 175, 69, .8);
}

.sub-menu-ambiental a {
  color: #fff;
  text-decoration: none;
}

/** Menú Industrial */

.menu-industrial {
  display: inline-block;
  margin-bottom: 30px;
  cursor: pointer;

}

.ico-industrial {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border: 10px solid #fff;
  color: #fff;
  background-color: rgba(242, 156, 31, 1);
  text-align: center;
  font-size: 60px;
  line-height: 100px;
  border-radius: 50%;
  box-shadow:  4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  float: left;

}

.tit-menu-industrial {
  display: block;
  float: left;
  line-height: 100px;
  padding-left: 106px;
  padding-right: 20px;
  margin-left: 60px;
  margin-top: -110px;
  background-color: rgba(242, 156, 31, .8);
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  border-right: 1px solid #888;
  font-size: 1.2em;
  color: #fff;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.tit-menu-industrial:hover {
  background-color: rgba(255, 185, 75, .8);
}

.sub-menu-industrial {
  position: relative;
  display: none;
  float: right;
  width: 317px;
  margin-top: -8px;
  padding-left: 39px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.sub-menu-industrial ul li {
  list-style: none;
  background-color: rgba(242, 156, 31, .8);
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  border-left: 1px solid #888;
  padding: 5px;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.sub-menu-industrial ul li:hover {
  padding-left: 35%;
  background-color: rgba(255, 185, 75, .8);
}

.sub-menu-industrial a {
  color: #fff;
  text-decoration: none;
}

#slides {
  color: #fff;
  text-align: right;
}

#slides p {
  font-size: 2em;
}

#slides h1 {
  font-size: 2.5em;
}

#slides h2 {
  font-size: 1.5em;
}

.slides-navigation a {
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.slides-navigation a:hover{
  color:#fff;
}

.arriba {
  top: 35%;
  -webkit-transform: translateY(-35%);
  -ms-transform: translateY(-35%);
  transform: translateY(-35%);
}

.medio {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.abajo {
  top: 65%;
  -webkit-transform: translateY(-65%);
  -ms-transform: translateY(-65%);
  transform: translateY(-65%);
}

/* Botones */
.boton-grande {
  display: block;
  width: 80%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border: 2px solid #333;
  border-radius: 5px;
  margin: 20px auto;
  text-decoration: none;
  color: #aa0024;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
}

.boton-grande:hover {
  background-color: #aa0024;
  background-color: rgba(170, 0, 36, .7);
  color: #fff;
}
