/* ----------------paleta de Colores ----------------------------------------
Verde Ambiental Oscuro: #72a240 - rgba(114, 162, 64, 1)
Verde Ambiental Claro: #7baf45 - rgba(123, 175, 69, 1)


Gris Metalmecánica Oscuro: #58585b - rgba(88, 88, 91, 1)
Gris Metalmecánica Claro: #6d6e70 - rgba(109, 110, 112, 1)

Amarillo Industrial Oscuro: #f29c1f - rgba(242, 156, 31, 1)
Amarillo Industrial Claro: #ffb94b - rgba(255, 185, 75, 1)

Rojo Acerta Oscuro = #aa0024 - rgba(170, 0, 36, 1)
Rojo Acerta Claro = #ee2316 - rgba(238, 35, 22, 1)

Color de fondo general = #ecf0f1 - rgba(236, 240, 241, 1)

------------------- fin paleta de Colores -----------------------------------*/

/* Estilos Generales */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  font-weight: 300;
  background-color: #ecf0f1;
}

header {
  display: block;
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 80px;

  clear: both;

  z-index: 2000;
}

p {
  font-size: 1em;
  text-align: justify;
  line-height: 1em;
  padding: 0.5em;
}

footer {
  display: block;
  position: fixed;

  bottom: 0;

  width: 100%;
  height: 40px;

  background-color: rgba(170, 0, 36, .8);
  color: #fff;

  font-weight: 300;
  text-align: center;
  line-height: 40px;

  z-index: 2000;
}

footer a{
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.internal-header {
  background-color: #fff;
  background-color: rgba(236, 240, 241, 0.9);
}

.contenedor {
  width: 100%;
  height: 100%;
}


.contiene-slider {
  position: absolute;
  background-color: rgba(236, 240, 241,1.0);
  width: 100%;
  height: 100%;
}

.logo {
  display: block;
  margin-left: 5%;
  margin-top: 10px;
  width: 388px;
  float: left;
}

.general-nav {
  display: inline-block;
  height: 60px;
  float: right;
  margin-right: 5%;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(170, 0, 36, .6);
  border-radius: 10px;
}

.general-nav ul {
  list-style: none;
}

.general-nav ul li {
  float: left;
  line-height: 60px;
  padding: 0 5px;
}

.general-nav a {
  display: block;
  color: #fff;
  height: 60px;
  padding: 0 5px;
  line-height: 60px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
          transition: all 500ms ease;
}

.general-nav a:hover {
  /*color: #58585b;*/
  line-height: 60px;
  background-color: rgba(170, 0, 36, 1);
}

.internal-nav {
  background-color: rgba(170, 0, 36, 1);
}

.internal-nav a:hover{
  line-height: 40px;
  background-color: rgba(0, 0, 0, .2);
}

.internal-nav a.active {
  background-color: rgba(0, 0, 0, .2);
  height: 60px;
  line-height: 40px;
}


.contenido {
  position: absolute;
  display: block;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  left: 7%;
  top: 9%;
  width: 86%;
  height: 86%;
  margin: 0 auto;
  z-index: 1900;
}

.margen-abajo {
  margin-bottom: 50px;
  height: 100%;
}

.boton-abajo {
  margin-top: 80px !important;
}


.tit1 {
  font-size: 2em;
  color: #9d0021;
  margin: 1em 0;
}

.tit3 {
  display:block;
  font-size: 1.5em;
  color: #9d0021;
  text-align: center;
  float: none;
  clear: both;
  height: 60px;
  line-height: 60px;
}

.img-top {
  display: block;
  margin: 1em auto;
  width:100%;
  max-height: 500px;
  border-radius: 20px;
}

.col-left{
  float: left;
  width:47%;
}

.col-right{
  float: right;
  width:47%;
}

.menu-flotante {
  width: 375px;
  /*border: 1px solid #333;*/
  float: left;
  margin-left: 2%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
}

/** Menú metalmecánica */

.menu-metal {
  display: inline-block;
  margin-bottom: 30px;
  cursor: pointer;
}

.ico-metal {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border: 10px solid #fff;
  color: #fff;
  background-color: rgba(88, 88, 91, 1);
  text-align: center;
  font-size: 61px;
  line-height: 100px;
  border-radius: 50%;
  box-shadow:  4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  float: left;

}

.tit-menu-metal {
  display: block;
  float: left;
  line-height: 100px;
  padding-left: 69px;
  padding-right: 20px;
  margin-left: 60px;
  margin-top: -110px;
  background-color: rgba(88, 88, 91, .8);
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  border-right: 1px solid #888;
  border-left: 1px solid rgba(149, 165, 166,.6);;
  font-size: 1.2em;
  color: #fff;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.tit-menu-metal:hover {
  background-color: rgba(109, 110, 112, .8);
}

.sub-menu-metal {
  position: relative;
  display: none;
  float: right;
  width: 314px;
  margin-left: -60px;
  margin-top: -8px;
  padding-left: 39px;
  box-sizing: border-box;
}

.sub-menu-metal ul li {
  list-style: none;
  background-color: rgba(88, 88, 91, .8);
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  border-left: 1px solid #888;
  padding: 5px;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.sub-menu-metal ul li:hover {
  padding-left: 35%;
  background-color: rgba(109, 110, 112, .8);
}

.sub-menu-metal a {
  color: #fff;
  text-decoration: none;
}

/** Menú ambiental */

.menu-ambiental {
  display: inline-block;
  margin-bottom: 30px;
  cursor: pointer;
}

.ico-ambiental {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border: 10px solid #fff;
  color: #fff;
  background-color: rgba(114, 162, 64, 1);
  text-align: center;
  font-size: 60px;
  line-height: 100px;
  border-radius: 50%;
  box-shadow:  4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  float: left;

}

.tit-menu-ambiental {
  display: block;
  float: left;
  line-height: 100px;
  padding-left: 100px;
  padding-right: 20px;
  margin-left: 61px;
  margin-top: -110px;
  background-color: rgba(114, 162, 64, .8);
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  border-right: 1px solid #888;
  font-size: 1.2em;
  color: #fff;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.tit-menu-ambiental:hover {
  background-color: rgba(123, 175, 69, .8);
}

.sub-menu-ambiental {
  position: relative;
  display: none;
  float: right;
  width: 314px;
  margin-left: -60px;
  margin-top: -8px;
  padding-left: 39px;
  box-sizing: border-box;
}

.sub-menu-ambiental ul li {
  list-style: none;
  background-color: rgba(114, 162, 64, .8);
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  border-left: 1px solid #888;
  padding: 5px;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.sub-menu-ambiental ul li:hover {
  padding-left: 35%;
  background-color: rgba(123, 175, 69, .8);
}

.sub-menu-ambiental a {
  color: #fff;
  text-decoration: none;
}

/** Menú Industrial */

.menu-industrial {
  display: inline-block;
  margin-bottom: 30px;
  cursor: pointer;

}

.ico-industrial {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border: 10px solid #fff;
  color: #fff;
  background-color: rgba(242, 156, 31, 1);
  text-align: center;
  font-size: 60px;
  line-height: 100px;
  border-radius: 50%;
  box-shadow:  4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  float: left;

}

.tit-menu-industrial {
  display: block;
  float: left;
  line-height: 100px;
  padding-left: 106px;
  padding-right: 20px;
  margin-left: 60px;
  margin-top: -110px;
  background-color: rgba(242, 156, 31, .8);
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  border-right: 1px solid #888;
  font-size: 1.2em;
  color: #fff;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.tit-menu-industrial:hover {
  background-color: rgba(255, 185, 75, .8);
}

.sub-menu-industrial {
  position: relative;
  display: none;
  float: right;
  width: 317px;
  margin-top: -8px;
  padding-left: 39px;
  box-sizing: border-box;
}

.sub-menu-industrial ul li {
  list-style: none;
  background-color: rgba(242, 156, 31, .8);
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  border-left: 1px solid #888;
  padding: 5px;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.sub-menu-industrial ul li:hover {
  padding-left: 35%;
  background-color: rgba(255, 185, 75, .8);
}

.sub-menu-industrial a {
  color: #fff;
  text-decoration: none;
}

#slides {
  color: #fff;
  text-align: right;
}

#slides p {
  font-size: 2em;
}

#slides h1 {
  font-size: 2.5em;
}

#slides h2 {
  font-size: 1.5em;
}

.slides-navigation a {
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.slides-navigation a:hover{
  color:#fff;
}

.arriba {
  top: 35%;
  -webkit-transform: translateY(-35%);
  transform: translateY(-35%);
}

.medio {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.abajo {
  top: 65%;
  -webkit-transform: translateY(-65%);
  transform: translateY(-65%);
}

/* Botones */
.boton-grande {
  display: block;
  width: 80%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border: 2px solid #333;
  border-radius: 5px;
  margin: 20px auto;
  text-decoration: none;
  color: #aa0024;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  cursor: pointer;
}

.boton-grande:hover {
  background-color: #aa0024;
  background-color: rgba(170, 0, 36, .7);
  color: #fff;
}

.boton-grande-inverso {
  background-color: #aa0024;
  background-color: rgba(170, 0, 36, .7);
  color: #fff;
}

.boton-grande-inverso:hover {
  color: #aa0024;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .7);
  
}

.boton-peq {
  display: block;
  width: 80%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 5px auto;
  color: #aa0024;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
}

.boton-peq:hover {
  background-color: #aa0024;
  background-color: rgba(170, 0, 36, .7);
  color: #fff;
}


.btn-metal:hover {
  background-color: #58585b;
  background-color: rgba(88, 88, 91, .7);
  color: #fff;
}

.btn-ambiental:hover {
  background-color: #72a240;
  background-color: rgba(114, 162, 64, .7);
  color: #fff;
}

.btn-industrial:hover {
  background-color: #f29c1f;
  background-color: rgba(242, 156, 31, .7);
  color: #fff;
}

/* Productos */
.menu-productos {
  width: 20%;
  float: left;  
}

.submenu-metal,
.submenu-ambiental,
.submenu-industrial {
  display: none;
  width: 80%;
  margin: 0 auto;
}

.submenu-metal li,
.submenu-ambiental li,
.submenu-industrial li {
  
}

.submenu-metal a,
.submenu-ambiental a,
.submenu-industrial  a {
  display:inline-block;
  width:100%;
  padding-left: 20px;
  text-decoration: none;
  color: #333;
  line-height: 1.2em;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  box-sizing: border-box;
}

.submenu-metal a:hover,
.submenu-ambiental a:hover,
.submenu-industrial a:hover {
  font-weight: bold;
  padding-left: 40px;
  text-decoration: underline;
}


.grid-productos {
  width: 79%;
  float: right;
  margin-bottom: 50px;
  box-sizing: border-box;

}

.contiene-grid {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.producto {
  display: inline-block;
  margin: 10px;
  border: 1px solid #95a5a6;
  border-radius: 5px;

  -webkit-perspective: 1000;

          perspective: 1000;

}

.producto:hover .producto-flip,
.producto.hover .producto-flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.producto,
.cara-a,
.cara-b {
  width: 250px;
  height: 300px;
}

.producto-flip {
  -webkit-transition: 0.6s;
          transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

  position: relative;
}

.cara-a,
.cara-b {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 5px;
}

.cara-a {
  z-index: 2;
  
  -webkit-transform: rotateY(0deg);
  
          transform: rotateY(0deg);
  background-color: #fff;
}


.cara-b {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cara-b-metal {
  background-color:#58585b;
  color: #fff;
}

.cara-b-ambiental {
  background-color:#72a240;
}

.cara-b-industrial {
  background-color:#f29c1f;
}


.img-producto {
  width: 250px;
  height: 200px;
  border-radius: 5px;
  display: block;
  float: none;

}

.nombre-cara-a, .nombre-cara-b {
  display: block;
  margin: 5px;
  font-size: 1.3em;
  line-height: 1.3em;
  
}

.referencia {
  display: block;
  margin: 10px;
  font-size: .8em;
  line-height: .8em;
  text-transform: uppercase;
}

.logo-marca {
  display: block;
  width: 100%;
  float: none;
  
}

.logo-marca img {
  border-radius: 5px;
}

.info h4{
  font-weight: bold;
}

.info ul {
  text-align: left;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 10px 5px;
}

.ver-producto {
  display: block;
  width: 80%;
  text-align: center;
  height: 20px;
  line-height: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 5px auto;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
}

.ver-producto:hover {
  background-color: #fff;
  background-color: rgba(255, 255, 255, .7);
  color: #333;
}

/* vista del producto */

.img-producto-grande,
.datos-producto {
  display: block;
  width: 49%;
  float: left;
  min-height: 400px;
  box-sizing: border-box;
}

.img-producto-grande img {
  width: 100%;
  height: 100%;
  border: 1px solid #95a5a6;
  border-radius: 5px;
}

.datos-producto {
  padding: 10px;
}

.datos-producto h2,
.contiene-detalles-producto h2,
.contacto h2,
.datos h2{
  font-size: 1.7em;
  color: #9d0021;
  margin: 0 0 .7em 20px;
}

.datos-producto h3,
.contiene-detalles-producto h3{
  font-size: 1.4em;
  color: #9d0021;
  margin: 0.3em 0 .7em 20px;
}

.datos-producto h4{
  font-size: 1.1em;
  color: #9d0021;
  margin: 0.2em 0 0.5em 20px;
}

.datos-producto ul {
  display: block;
  margin-left: 30px;
  margin-bottom: 10px;
}

.datos-producto li {
  font-weight: bold;
  line-height: 1.5em;
}

.datos-producto p img {
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #aa0024;
  border-radius: 5px;
}


/* detalles producto */

.detalles-producto {
  display: inline-block;
  float: none;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

.tab-detalles-producto{
  display: inline-block;
  width: 200px;
  font-size: 1.1em;
  line-height: 40px;
  text-align: center;
  border: 1px solid #333;
  border-radius: 6px 6px 0 0;
  text-decoration: uppercase;
  background-color: #aa0024;
  background-color: rgba(170, 0, 36, 0.7);
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  z-index:8;
}

.tab-detalles-producto:hover {
  background-color: #aa0024;
  background-color: rgba(170, 0, 36, 0.9);
  z-index: 12;
}

.contiene-detalles-producto {
  display: block;
  position: relative;
  top:-1px;
  left:0;
  width: 100%;
  height: 400px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid #aa0024;
  border-radius: 0 6px 6px 0;
  overflow: scroll;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

div#detalle-info {
  margin-top: -1px;
  opacity: 1;
  z-index: 12;
}
div#detalle-media {
  margin-top: -402px;
  opacity: 0;
  z-index: 11;
}
div#detalle-similar {
  margin-top: -402px;
  opacity: 0;
  z-index: 11;
  text-align: center;
}

.contiene-detalles-producto p {
  line-height: 1.6em;
  margin: 0 0.7em;
}

.contiene-media {
  display: block;
  margin: 20px auto;
  text-align: center;
}

/* distribuciones  */
.distribuciones {
  display:block;
  margin-bottom: 50px;
}

.distribuciones:after,
.distribuciones:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.contiene-marcas {
  position: relative;
  margin-top: 30px;
  height: 490px;
}

.contiene-marcas ul {
  list-style-type: none;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 140px;
  overflow: hidden;
  text-align: center;
  pointer-events: none;
}

.no-js .contiene-marcas ul {
  position: relative;
  left: auto;
  bottom: auto;
  margin: 0;
  overflow: visible;
}

.contiene-marcas ul.actual {
  pointer-events: auto;
}

.contiene-marcas ul li {
  display: inline-block;
  padding: 20px;
  width: 20%;
  max-width: 300px;
  -webkit-transform: translateX(600%);
  transform: translateX(600%);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.no-js .contiene-marcas ul li {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.contiene-marcas ul li a,
.contiene-marcas ul li img {
  display: block;
  margin: 0 auto;
}

.contiene-marcas ul li a {
  outline: none;
  cursor: pointer;
}

.contiene-marcas ul li img {
  max-width: 100%;
  border: 1px solid #95a5a6;
  border-radius: 5px;
}

.contiene-marcas ul li h4 {
  display: inline-block;
  font-size: 1em;
  color: #aa0024;
  padding: 20px 10px 0;
  text-transform: uppercase;
}

.contiene-marcas ul li:hover {
  opacity: 0.7;
} 

.contiene-marcas nav {
  position: relative;
  top: 400px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  border-top: 5px solid #aa0024;
}

.no-js nav {
  display: none;
}

.contiene-marcas nav a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 40px 30px 30px 34px;
  position: relative;
  color: #888;
  outline: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.contiene-marcas nav a:hover,
.contiene-marcas nav a.seleccionado {
  color: #000;
}

.contiene-marcas nav a.seleccionado:after,
.contiene-marcas nav a.seleccionado:before {
  content: '';
  position: absolute;
  top: -5px;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.contiene-marcas nav a.seleccionado:after {
  border-color: transparent;
  border-top-color: #ecf0f1;;
  border-width: 20px;
  left: 50%;
  margin-left: -20px;
}

.contiene-marcas nav a.seleccionado:before {
  border-color: transparent;
  border-top-color: #aa0024;
  border-width: 27px;
  left: 50%;
  margin-left: -27px;
}

/* Move classes and animations */

.contiene-marcas ul:first-child li,
.no-js .contiene-marcas ul li {
  -webkit-animation: scaleUp 350ms ease-in-out both;
  animation: scaleUp 350ms ease-in-out both;
}

@-webkit-keyframes scaleUp {
  0% { -webkit-transform: translateX(0) scale(0); }
  100% { -webkit-transform: translateX(0) scale(1); }
}

@keyframes scaleUp {
  0% { -webkit-transform: translateX(0) scale(0); transform: translateX(0) scale(0); }
  100% { -webkit-transform: translateX(0) scale(1); transform: translateX(0) scale(1); }
}

.contiene-marcas ul:first-child li:first-child {
  -webkit-animation-delay: 90ms;
  animation-delay: 90ms;
}

.contiene-marcas ul:first-child li:nth-child(2) {
  -webkit-animation-delay: 180ms;
  animation-delay: 180ms;
}

.contiene-marcas ul:first-child li:nth-child(3) {
  -webkit-animation-delay: 270ms;
  animation-delay: 270ms;
}

.contiene-marcas ul:first-child li:nth-child(4) {
  -webkit-animation-delay: 360ms;
  animation-delay: 360ms;
}

/* moveFromRight */

.contiene-marcas ul.desde-la-derecha li {
  -webkit-animation: moveFromRight 350ms ease-in-out both;
  animation: moveFromRight 350ms ease-in-out both;
}

/* moveFromLeft */

.contiene-marcas ul.desde-la-izquierda li {
  -webkit-animation: moveFromLeft 350ms ease-in-out both;
  animation: moveFromLeft 350ms ease-in-out both;
}

/* moveToRight */

.contiene-marcas ul.hacia-la-derecha li {
  -webkit-animation: moveToRight 350ms ease-in-out both;
  animation: moveToRight 350ms ease-in-out both;
}

/* moveToLeft */

.contiene-marcas ul.hacia-la-izquierda li {
  -webkit-animation: moveToLeft 350ms ease-in-out both;
  animation: moveToLeft 350ms ease-in-out both;
}

/* Animation Delays */

.contiene-marcas ul.hacia-la-izquierda li:first-child,
.contiene-marcas ul.desde-la-derecha li:first-child,
.contiene-marcas ul.hacia-la-derecha li:nth-child(4),
.contiene-marcas ul.desde-la-izquierda li:nth-child(4) {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}

.contiene-marcas ul.hacia-la-izquierda li:nth-child(2),
.contiene-marcas ul.desde-la-derecha li:nth-child(2),
.contiene-marcas ul.hacia-la-derecha li:nth-child(3),
.contiene-marcas ul.desde-la-izquierda li:nth-child(3) {
  -webkit-animation-delay: 90ms;
  animation-delay: 90ms;
}

.contiene-marcas ul.hacia-la-izquierda li:nth-child(3),
.contiene-marcas ul.desde-la-derecha li:nth-child(3),
.contiene-marcas ul.hacia-la-derecha li:nth-child(2),
.contiene-marcas ul.desde-la-izquierda li:nth-child(2) {
  -webkit-animation-delay: 180ms;
  animation-delay: 180ms;
}

.contiene-marcas ul.hacia-la-izquierda li:nth-child(4),
.contiene-marcas ul.desde-la-derecha li:nth-child(4),
.contiene-marcas ul.hacia-la-derecha li:first-child,
.contiene-marcas ul.desde-la-izquierda li:first-child  {
  -webkit-animation-delay: 270ms;
  animation-delay: 270ms;
}

/* Animations */

@-webkit-keyframes moveFromRight {
  0% { -webkit-transform: translateX(600%); }
  100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveFromLeft {
  0% { -webkit-transform: translateX(-600%); }
  100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveToRight {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(600%); }
}

@-webkit-keyframes moveToLeft {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-600%); }
}

@keyframes moveFromRight {
  0% { -webkit-transform: translateX(600%); transform: translateX(600%); }
  100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveFromLeft {
  0% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
  100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveToRight {
  0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
  100% { -webkit-transform: translateX(600%); transform: translateX(600%); }
}

@keyframes moveToLeft {
  0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
  100% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
}

.contiene-marcas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Media Queries */
@media screen and (max-width: 910px){
  .contiene-marcas nav {
    max-width: 90%;
  }
  .contiene-marcas nav a {
    font-size: 12px;
    padding: 40px 10px 30px 14px;
  }
}

@media screen and (max-width: 740px){
  .contiene-marcas {
    height: 300px;
  }
  .contiene-marcas nav {
    top: 220px;
  }
}

@media screen and (max-width: 490px){ 
  .contiene-marcas {
    text-align: center;
    height: auto;
  }

  .contiene-marcas ul {
    position: relative;
    display: inline;
    bottom: auto;
    pointer-events: auto;
  }

  .contiene-marcas ul li {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
    padding: 10px 3px;
    min-width: 140px;
  }

  .contiene-marcas nav {
    display: none;
  }
}

/* contacto */

.contacto {
  height: auto;
  padding-top: 20px;
  width: 100%;
  box-sizing: border-box;

}

.contacto-home {
  margin: 0 auto;
  width: 100%;
  float: left;
}
.contacto-home label,
input,
textarea {
  display: block;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
}
.contacto-home input[type="submit"] {
  padding: 0;
  font-size: 1em;
  font-weight: 300;
}

.contiene-contacto {
  width: 59%;
  float: left;
  margin-bottom: 30px;
}

.mapa-home {
  width: 40%;
  min-height: 720px;
  float:right;
  margin-bottom: 30px;
}

.datos {
  display: block;
  width:100%;
  margin:0 auto;
  clear: both;
}


.info-contacto {
  display: inline-block;
  height: auto;
  width: 100%;
  color: #333;
  margin: 0 auto;
  text-align: center;
  font-size: 90%;
  padding-bottom: 16px;
  margin-bottom: 40px;
}

.info-contacto h4,
.info-ciudad h4 {
  color: #aa0024;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.info-ciudad {
  padding-top: 20px;
  line-height: 2em;
  float: left;
  width: 20%;
  font-size: 1.2em
}


