/* Fuentes */
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
 /* para usar 
 	font-family: 'PT Sans', sans-serif;
 	*/

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

body {
	margin: 0 auto;
	font-family: 'Exo 2', sans-serif;
	font-size: 87.5%;
}

header {
	max-width: 100%;
	background: #c0392b;
}

.contiene-header,
.contiene-bar,
.contenido,
.contiene-footer {
	display: block;
	margin:0 auto;
	max-width: 1170px;
}

.contiene-header {
	height: 60px;
}

.logo {
	max-width:223px;
	padding-top: 10px;
	padding-left: 30px;
	float:left;
}

.nav-header ul {
	margin-top: 0;
	list-style: none;
	float:right;
}

.nav-header ul li {
	display: inline-block;
	padding: 20px 10px;
	height: 20px;
}

.nav-header ul li a {
	color: #2d2d2d;
	text-decoration: none;
	text-transform: uppercase;

	transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
}

.nav-header ul li a:hover,
.nav-header ul li a:active {
	color: #fff;
}

.header-bar {
	display: block;
	height: 30px;
	width: 100%;
	background: #333;
	color:#eeeeee;
}

.slogan {
	font-family: 'PT Sans', sans-serif;
	padding-top: 5px;
	padding-left: 10px;
	float:left;
}

.contiene-buscador {
	display: block;
	float: right;
	padding-right: 10px;
	padding-top: 3px;
}

.buscar-producto input[type="search"],
.buscar-producto input[type="submit"] {
	border:none;
	height: 22px;
	color: #c0392b;
	font-size: .9em;
}

.buscar-producto input[type="search"] {
	-webkit-appearance: none;
	-webkit-border-radius:0px;
	border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	padding-left: 5px;
}

.buscar-producto input[type="search"]:focus {
	outline: 0;
	border:none;
	background: #F6F6F6;
}


.buscar-producto input[type="submit"]{
	-webkit-appearance: none;
	-webkit-border-radius:0px;
	background: #D64541;
	color: #323A45;
	padding-top: 3px;
	margin-left: -3px;
	height: 24px;
	border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	text-transform: uppercase;
	font-size: .9em;

	transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
}

.buscar-producto input[type="submit"]:hover {
	color: #fff;
}

.contiene-desc {
	display: block;
	width: 95%;
	margin:0 auto;
	/*border: 1px solid #333;*/
}

.contiene-sec {
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.contiene-sec a {
	display: table;
	width: 100%;
	height: 100%;
	color:#000;
	text-decoration: none;
}

.contiene-sec a:hover {
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

.sec-metal {
	display: table-cell;
	min-width: 33%;
	margin: 0 auto;
	float: left;
	border-bottom: 1px solid #e74c3c;
	background: #e74c3c;

	border-top: 1px solid #95a5a6;
	border-left: 1px solid #95a5a6;
	border-right: 1px solid #95a5a6;
	border-top-left-radius: 20px;

	transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
}

.sec-metal:hover {
	background-color: #e74c3c;
}

.sec-ambiental {
	display: table-cell;
	min-width: 33%;
	margin: 0 auto;
	float: left;
	border-bottom: 1px solid #95a5a6;
	background: #ecf0f1;

	border-top: 1px solid #95a5a6;
	border-left: 1px solid #95a5a6;
	border-right: 1px solid #95a5a6;

	transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
}

.sec-ambiental:hover {
	background-color: #2980b9;
}

.sec-industrial {
	display: table-cell;
	min-width: 34%;
	margin: 0 auto;
	float: left;
	border-bottom: 1px solid #95a5a6;
	background-color: #ecf0f1;

	border-top: 1px solid #95a5a6;
	border-left: 1px solid #95a5a6;
	border-right: 1px solid #95a5a6;
	border-top-right-radius: 20px;

	transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;

}

.sec-industrial:hover {
	background-color: #27ae60;
}


.tit-sec {
	width: 100%;
	height:100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.4em;
	margin: 0 auto;
	text-align: center;
	/*border: 1px solid #555;*/
	text-transform: uppercase;
}

.desc-metal-sec {
	display: block;
	width: 100%;
	height: 450px;
	background: url('../img/desc-metal-sec-img1.jpg') no-repeat left top;
	background-position: 0px 30px;
}

.desc-metal-sec p {
	background-color: rgba(231, 76, 60, 0.9);
	display: inline-block;
	margin:0 auto;
	width: 100%;
	padding: 20px;
	float: left;
	font-size: 1.1em;
}

#metal-sec {
	display: block;
	
}

#ambiental-sec {
	display: none;
	
}

#industrial-sec {
	display: none;

}

.desc-ambiental-sec {
	display: block;
	width: 100%;
	height: 450px;
	background: url('../img/sec-ambiental-bk.jpg') no-repeat left top;
	background-position: 0px 30px;
	
}

.desc-ambiental-sec p {
	background-color: rgba(41, 128, 185, 0.9);
	display: inline-block;
	margin:0 auto;
	width: 100%;
	padding: 20px;
	float: left;
	font-size: 1.1em;
}

.desc-industrial-sec {
	display: block;
	width: 100%;
	height: 450px;
	background: url('../img/sec-industrial-bk.jpg') no-repeat left top;
	background-position: 0px 30px;
}

.desc-industrial-sec p {
	background-color: rgba(39, 174, 96, 0.9);
	display: inline-block;
	margin:0 auto;
	width: 100%;
	padding: 20px;
	float: left;
	font-size: 1.1em;
}

.boton-seccion {
	display: block;
	position: relative;
	float: right;
	margin-top: 22%;
	margin-right: 2%;
	border: 2px solid #fff;
	border-radius: 10px;
	width: 170px;
	height: 50px;
	padding-top: 12px;
	text-align: center;
	font-size: 1.2em;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.boton-seccion a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.boton-seccion a:hover {
	text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}

.fondo-rojo {
	background-color: rgba(231, 76, 60, 0.9);
}

.fondo-azul {
	background-color: rgba(41, 128, 185, 0.9);
}

.fondo-verde {
	background-color: rgba(39, 174, 96, 0.9);
}


footer {
	display:block;
	width: 100%;
	margin: 0 auto;
	background-color: #c0392b;
	clear: both;
	float: none;
}

.contiene-footer {
	display: block;
	width: 100%;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	margin: 0 auto;
}

.tabla-footer {
	display: table;
	width: 100%;
}

.col-footer {
	display: table-cell;
	width: 33%;
	
}

.col-footer h3 {
	text-transform: uppercase;
	font-weight: normal;
	margin-left: 15%;
}